body {
  background: #999;
}

h2 {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}

.container {
  width: 100%;
  margin: 10%px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
  float: left;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #ffc107;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#header {
    text-align: center;
    text-shadow: 4px 4px #5d8cd8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("p2.jpg");
    background-size: 10%;
}
h1{
    font-size: 100px;
    font-weight: bolder;
}
body {
    background-image: url("bg3.jpg");
    background-size: 100%;
    border: weight 10px;    
}


