#header {
    text-align: center;
    text-shadow: 10px 0px #5d8cd8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("p2.jpg");
    background-size: 11%;
}
h1{
    font-size: 150px;
    font-weight: bolder;
}
body {
    background-image: url("bg3.jpg");
    background-size: 100%;
    border: weight 10px;    
}

.col-md-2 {
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #f4b169;
    font-size: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.row {
    text-align: center ;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px ;
}

#data{
    margin-top: 10px;
}

#hamStatus {
    align-items: center ;
    background-color: #c888ef ;
}

p {
    color : white;
}

button {
    border-radius: 60% ;
    border: none ;
}

#lure {
    background-color: pink ;
}

#foodBar,#tempBar {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#foodBar {
    background-color: #77a9f9;
}

#moisPercent,#moisPercentunit{
    margin-left: 25%;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    color:#a33404;
}

img {
    height: 120px ;
    width: 120px ;
}

.bar-hot {
    background-color: lightcoral
}

.bar-comfort {
    background-color: lightgreen
}

.bar-cold {
    background-color: lightskyblue
}